@model IEnumerable<GitHubJenkinsIntegration.Models.ProjectModels>

@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .topDiv {
        width: 50%;
        margin: 10px auto;
        background-color: #f2f2f2;
        text-align: left;
        padding: 2%;
    }
</style>
<div class="topDiv">
    <fieldset style="margin: 2% auto; width: 90%; background-color: #FFEBCD; text-align: center">
        <h4>

            @Html.ActionLink("Add New project", "AddEditProject")

        </h4>
    </fieldset>
    <fieldset>
        <table style="margin: 2% auto; padding: 5px; width: 90%">
            <tr style="background-color: #FFFACD">
                <th>

                    ProjectName

                </th>
                <th>

                    Location

                </th>
                <th>

                    Manage

                </th>
            </tr>

            @{

                foreach (var item in Model)

                {


                    <tr style="background-color: #FFFFF0">
                        <td>

                            @item.ProjectName

                        </td>
                        <td>

                            @item.Location

                        </td>
                        <td>

                            @Html.ActionLink("Edit", "AddEditProject", new { id = @item.Id }) / @Html.ActionLink("Delete", "Delete", new { id = @item.Id })

                            @* /@Html.ActionLink("Details", "ProjectDetails", new { basePath = @item.basePath })*@

                        </td>
                    </tr>

                }

            }


        </table>
    </fieldset>
</div> 